@charset "UTF-8";
@import "variable";
@import "mixin";
@import "reset";
@import "flickity-install";
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Merriweather&display=swap');

$font2: 'Lavishly Yours', serif;
$font: 'Merriweather', 'Times New Roman', serif;

* {
	box-sizing: border-box;
}
html, body, .wrapper {
	width: 100%;
	height: 100%;
}
body {
 	font-family: $font;
	font-size: 1.25rem;
	line-height: 1.75;
	color: #1c1c26;
	background: url('skin/bg.jpeg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
	overflow-y: visible;
}
.overlay {
	@include fixed(0,0,0,0);
	pointer-events: none;
	background-color: rgba(#240f4b, .5);
}
.wrapper {
	position: relative;
	z-index: 99;
	opacity: 0;
	transform: translateX(-100%);
	transition: transform 0.75s cubic-bezier(0.47, 0.03, 0.27, 0.99), opacity 0.45s ease;
	body.active & {
		transform: none;
		opacity: 1;
	}
}
video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	@include absolute(0,0,0,0);
}
.modal {
	@include fixed(0,0,0,0);
	z-index: 999;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: transform 0.9s cubic-bezier(0.45, 0.03, 0.33, 0.99), visibility 0.9s ease 0.25s;
	&.hide {
		transform: translateX(100%);
		visibility: hidden;
	}
	&-icon {
		@include absolute(0,0,0,0);
		background: #fff;
		z-index: 10;
	}
	img {
		width: 70px;
		display: block;
		@include absolute(null,0,70px,10px);
		animation: pulse 1s infinite 2s;
		opacity: 0;
		transition: opacity 0.8s ease;
	}
	.title {
		color: #fff;
		@include absolute(2rem,0,null,0);
		z-index: 111;
		font-size: 3.5rem;
		padding: 0 4rem;
		line-height: 1;
		text-align: center;
		text-shadow: 0 1px 15px rgba(#ffffff,.9);
		transform: translateY(40px);
		opacity: 0;
		transition: transform 1.5s cubic-bezier(0.5, 0.03, 0.25, 1), opacity 1.5s ease;
	}
	&.loaded {
		.modal-icon {
			background: rgba(#000,.55);
			transition: background 1.5s ease .2s;
		}
		.title {
			opacity: 1;
			transform: none;
			transition-delay: .5s;
		}
		img {
			opacity: 1;
			transition-delay: 1.25s;
		}
	}
}
@keyframes pulse {
    0% {
        transform: scaleX(1)
    }
    50% {
        transform: scale3d(1.05, 1.05, 1.05)
    }
    to {
        transform: scaleX(1)
    }
}
.home-slider {
	height: 100vh;
	max-width: 588px;
	margin: 0 auto;
	&-o {
		@include fixed(0,0,0,0);
		z-index: 1;
	}
    .carousel-cell {
        width: 100%;
		height: 100vh;
    }
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.flickity-page-dots {
		bottom: 2rem;
	}
}
.letter {
	position: relative;
	z-index: 10;
	padding: 2.5rem 2rem;
	background: rgba(#fff, .75);
	backdrop-filter: blur(1.5rem);
	min-height: 100%;
	margin: auto;
}
.font {
	font-family: $font2;
}
.sig {
	font-size: 2.5rem;
}
.c {
	font-size: 2rem;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.no-content {
	height: 100vh;
	display: block;
	width: 100%;
}
audio {
	display: block;
	@include absolute(0,0,null,0);
	z-index: 5;
	margin: 1.9375rem auto;
}
img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}
.img-footer {
	margin: 0 -2rem -2.5rem;
}
.img-header {
	margin: -1rem -2rem 0;
}
@media (min-width: 768px) {
	.letter {
		max-width: 588px;
		padding-left: 4rem;
		padding-right: 4rem;
	}
	.img-footer,
	.img-header {
		margin-left: -4rem;
		margin-right: -4rem;
	}
	.modal .title {
		font-size: 5.5rem;
	}
}