@charset "UTF-8";
@import "variable";
@import "mixin";
@import "reset";
@import "flickity-install";
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Merriweather&display=swap');

$font2: 'Lavishly Yours', serif;
$font: 'Merriweather', 'Times New Roman', serif;

* {
	box-sizing: border-box;
}
html, body, .wrapper {
	width: 100%;
	height: 100%;
}
body {
 	font-family: $font;
	font-size: 1.25rem;
	line-height: 1.75;
	color: #1c1c26;
}
.home-slider {
	height: 100vh;
	&-o {
		@include fixed(0,0,0,0);
		z-index: 1;
	}
    .carousel-cell {
        width: 100%;
		height: 100vh;
        left: 0 !important;
        opacity: 0;
        transition: opacity 2.5s ease-in-out;
        z-index: -1;
        &.is-selected {
            opacity: 1;
            z-index: 0;
        }
    }
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
    .flickity-slider {
        transform: none !important;
    }
	.flickity-page-dots {
		bottom: 2rem;
	}
}
.letter {
	position: relative;
	z-index: 10;
	padding: 2.5rem 2rem;
	background: rgba(#fff, .75);
	backdrop-filter: blur(1.5rem);
	min-height: 100%;
	margin: auto;
}
.sig {
	font-family: $font2;
	font-size: 2.5rem;
	text-align: right;
}
.no-content {
	height: 100vh;
	display: block;
	width: 100%;
}
audio {
	display: block;
	@include absolute(0,0,null,0);
	z-index: 5;
	margin: 1.9375rem auto;
}
img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}
.img-footer {
	margin: 0 -2rem -2.5rem;
}
.img-header {
	margin: 0 -2rem;
}
@media (min-width: 768px) {
	.letter {
		max-width: 588px;
		padding-left: 4rem;
		padding-right: 4rem;
	}
	.img-footer,
	.img-header {
		margin-left: -4rem;
		margin-right: -4rem;
	}
}