@charset "UTF-8";
@import "variable";
@import "mixin";
@import "reset";
@import "flickity-install";
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Merriweather&display=swap');

$font2: 'Lavishly Yours', serif;
$font: 'Merriweather', 'Times New Roman', serif;

* {
	box-sizing: border-box;
}
html, body, .wrapper {
	width: 100%;
	height: 100%;
}
body {
 	font-family: $font;
	font-size: 1.25rem;
	line-height: 1.75;
	color: #1c1c26;
	background: url('skin/bg.jpeg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}
.overlay {
	@include fixed(0,0,0,0);
	pointer-events: none;
	background-color: rgba(#240f4b, .5);
}
.wrapper {
	position: relative;
	z-index: 99;
}
.modal {
	@include fixed(0,0,0,0);
	z-index: 999;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: transform 0.5s ease-in-out, opacity 0.45s ease-in-out, visibility 0.45s;
	transform-origin: center top;
	
	&-icon {
		@include absolute(0,0,0,0);
		background: #fff;
	}
	img {
		width: 85px;
		display: block;
		@include absolute(70%,0,null,10px);
		opacity: 0;
		transform: scale(0);
		animation: pulse 1s infinite 2s;
	}
	.title {
		color: #fff;
		@include absolute(22%,0,null,0);
		z-index: 111;
		font-size: 2.5rem;
		text-align: center;
		text-shadow: 0 1px 10px rgba(#fff,.8);
		transform: translateY(40px);
		opacity: 0;
		transition: transform 2s ease, opacity 2s ease;
	}
	&.loaded {
		.modal-icon {
			background: rgba(#000,.4);
			transition: background 1.5s ease .2s;
		}
		img {
			opacity: 1;
			transform: none;
			transition: all .5s ease .75s;
		}
		.title {
			opacity: 1;
			transform: none;
			transition-delay: .75s;
		}
	}
	&.hide {
		transform: translateY(-100%);
		opacity: 0;
		visibility: hidden;
	}
}
@keyframes pulse{0%{-webkit-transform:scaleX(1);transform:scaleX(1)}50%{-webkit-transform:scale3d(1.05,1.05,1.05);transform:scale3d(1.05,1.05,1.05)}to{-webkit-transform:scaleX(1);transform:scaleX(1)}}

.home-slider {
	height: 100vh;
	max-width: 588px;
	margin: 0 auto;
	&-o {
		@include fixed(0,0,0,0);
		z-index: 1;
	}
    .carousel-cell {
        width: 100%;
		height: 100vh;
    }
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.flickity-page-dots {
		bottom: 2rem;
	}
}
.letter {
	position: relative;
	z-index: 10;
	padding: 2.5rem 2rem;
	background: rgba(#fff, .75);
	backdrop-filter: blur(1.5rem);
	min-height: 100%;
	margin: auto;
}
.font {
	font-family: $font2;
}
.sig {
	font-size: 2.5rem;
}
.c {
	font-size: 2rem;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.no-content {
	height: 100vh;
	display: block;
	width: 100%;
}
audio {
	display: block;
	@include absolute(0,0,null,0);
	z-index: 5;
	margin: 1.9375rem auto;
}
img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}
.img-footer {
	margin: 0 -2rem -2.5rem;
}
.img-header {
	margin: -1rem -2rem 0;
}
@media (min-width: 768px) {
	.letter {
		max-width: 588px;
		padding-left: 4rem;
		padding-right: 4rem;
	}
	.img-footer,
	.img-header {
		margin-left: -4rem;
		margin-right: -4rem;
	}
	.modal .title {
		font-size: 4rem;
		top: 15%;
	}
}